// Import Bootstrap (make sure the path is correct)
@import "bootstrap";

// Your custom styles go here
body {
  font-family: 'Arial', sans-serif;
  background-color: #d9d7b6;
}

// Additional custom styling for other elements
h1 {
  color: #6b7b8c;
}
