<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Mennonite Market" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <h1>Test Header</h1>
  <%= yield %>  <!-- This is where your home/index view will be rendered -->
</body>
</html>